<div class="row">
    <div class="col-md-6">
        {{#each items}}
            {{#unless this.completed}}
                <p>{{this.name}}</p>
            {{/unless}}
        {{/each}}
    </div>
    <div class="col-md-6">
        {{#each items}}
            {{#if this.completed}}
                <p>{{this.name}}</p>
            {{/if}}
        {{/each}}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/burgers/create" method="POST">
                <input type="text" name="name" id="item_name">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>